/* GENERIC */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



/* UTILITY*/

.card{
    width: 200px;
    background-color: rgb(15, 14, 23);
}



.f-left{
    float:left;
}

.color-w{
    color:white;
}

/* HEADER */

header{
    text-align: center;
}



/* main */



img{
    max-width: 100%;
    width: 100px;
}



.debug{
    background-color: red;
    
    
}

