/* GENERIC */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-family: 'Sonsie One', cursive;

}

main::after{
    clear:both;
    display: block;
    content:"";
}



/* UTILITY*/


main{
    margin:auto;
    max-width: 81%;

}

.card{
    width: calc(100% / 3 - 20px);
    background-color: rgb(15, 14, 23);
    margin: 10px 10px 40px;
}

.clearfix::after{
    content:"";
    display: block;
    clear:both;
}



.f-left{
    float:left;
}

h3, span{
    color:white;
    line-height: 26.6px;   
}


/* HEADER */

h1{
    color: #E53170;
}

header, p{
    
    text-align: center;
    margin: 30px 0;
     
}

/* main */

p{
    text-align: center;
    margin-bottom: 30px;
}



img{
    max-width: 100%;
    width: 80px;
    float:left;
    margin-right: 20px;
}

a{
    font-style:normal;
    text-decoration:none;
    color: #2299D7;
}

.row{
    margin: 0 -10px;
}

.row::after{
    content: "";
    display: block;
    clear:both;
    
}




